*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* <------------navbar------------> */

nav{
    padding: 5px 5px;
    margin: 2px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav img{
    width: 50px;
    border-radius: 25px;
    border: 2px solid white;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    
    font-size: 20px;
    color: white;
    margin: 0px 15px;
}

#hero_page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("../images/profile_newnew1.png");
    background-size: cover;

}

nav div h1{
    display: inline-block;
}

nav>div{
    display: flex;
    height: 100%;
    
}

#logo_text{
    position: relative;
    top: 10px;
    left: 30px;
}

/* <------------hero section------------> */

#hero_text{
    color: white;
    padding-top: 10%;
    height: 80vh;
    position: relative;
    
    margin-left: 10%;
}

#hero_text p{
    /* font-weight: 100; */
    margin-bottom: 20px;
    font-size: 30px;
}

#hero_text h1{
    font-weight: 550;
    font-size: 60px;
}

#hero_text span{
    color: orangered;
}


/* About Page */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about_page{
    color: white;
    background-color: rgb(26, 25, 25);  
    padding: 80px 100px;
}

.about_col_1{
    flex-basis: 35%;
}

#about_page img{
    width: 90%;
    border-radius: 15px;
}



.about_col_2{
    flex-basis: 55%;
}


.about_col_2 p{
    margin: 30px 0px;
}

.about_menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 20px 0px;
}

.tab_links{
    cursor: pointer;
    position: relative;
}

.tab_links::after{
    content: '';
    width: 0;    
    height: 3px;
    background-color: orangered;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tab_links.active_link::after{
    width: 70%;
}

.tab_content{
    display: none;
}

.tab_content.active_tab{
    display: block;
}
