*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* <------------navbar------------> */

nav{
    padding: 5px 5px;
    margin: 2px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav img{
    width: 50px;
    border-radius: 25px;
    border: 2px solid white;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    
    font-size: 20px;
    color: white;
    margin: 0px 15px;
}

#hero_page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* background-image: url("../images/profile_newnew1.png"); */
    background-image: url("../images/profile_newnew1.png");
    background-size: cover;


}

nav div h1{
    display: inline-block;
}

nav>div{
    display: flex;
    height: 100%;
    
}

#logo_text{
    position: relative;
    top: 10px;
    left: 30px;
}



/* <------------hero section------------> */

#hero_text{
    color: white;
    padding-top: 10%;
    height: 80vh;
    position: relative;
    
    margin-left: 10%;
}

#hero_text p{
    /* font-weight: 100; */
    margin-bottom: 20px;
    font-size: 30px;
}

#hero_text h1{
    font-weight: 550;
    font-size: 60px;
}

.name{
    color: orangered;
    transition: transform 0.5s;
    cursor: pointer;
    display: inline-block;
}

.name:hover{
    color: rgb(152, 0, 0);
    transform: scale(1.1);
}

/* About Page */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about_page{
    color: white;
    background-color: rgb(22, 22, 22);  
    padding: 80px 100px;
    
}

.about_col_1{
    flex-basis: 35%;
    transition: translate 2s;
}

.about_col_1:hover{
    transform: scale(1.07);
}

#about_page img{
    width: 100%;
    border-radius: 15px;
}



.about_col_2{
    flex-basis: 55%;
}


.about_col_2 p{
    margin: 30px 0px;
}

.about_menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 22px;
    margin: 20px 0px;
}

.tab_links{
    cursor: pointer;
    position: relative;
}

.tab_links::after{
    content: '';
    width: 0;    
    height: 3px;
    background-color: orangered;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tab_links.active_link::after{
    width: 70%;
}

.tab_content{
    display: none;
}

.tab_content.active_tab{
    display: block;
}

.tab_content ul li{
    font-size: 16px;
    list-style: none;
    line-height: 20px;
}

.tab_content span{
    font-size: 20px;
    color: orange;
    line-height: 40px;
    font-weight: 800;
}

/* <--------------------services------------------> */

.services{
    background-color: rgb(26, 26, 26);
    /* height: 40vh; */
    color: white;
    padding: 40px 60px 70px 60px;
    
}

.subtitle{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    
}

.service_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    /* overflow: hidden; */
}

.service_box div{
    
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    padding: 20px 20px;
    
    transition: 0.5s;
}

.service_box div:hover {
    background: linear-gradient(rgb(46, 46, 46), rgb(164, 61, 1));
    transform: translateY(-10px);
}

.service_box div h1{
    margin: 20px 14px;
    font-size: 25px;
}

.service_box div p{
    line-height: 23px;
}

.service_box div i{
    height: 10px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

/* <------------------Projects----------------> */

.project_section{
    background-color: rgb(21, 21, 21, 1);
    /* height: 40vh; */
    color: white;
    padding: 40px 60px 70px 60px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    overflow: hidden;
}

.projects img{
    width: 92%;
    border-radius: 12px;
    transition: 0.5s;
}

.projects div{
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    padding: 20px 20px;

    transition: 0.5s;
}

.projects img:hover{
    transform: scale(1.1);
}


.projects_box:hover{

    
    background: linear-gradient(rgb(46, 46, 46), rgb(253, 55, 0));

    transform: translateY(-10px);

}

.projects_box{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.projects_link a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.projects_link:hover{
    transform: translateY(-5px);
}

.projects_link a:hover{
    font-weight: 600;
    font-size: 22px;
    color: brown;
}

.subdown{
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: -60px; 
    background-color: rgb(26, 26, 26);
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
}

.subdown:hover{
    color: black;
    background-color: rgb(127, 127, 127);  
    transform: translateY(-5px);
}

/* <---------------contact-----------------> */

#contacts_page{
    background-color: #1b1b1b;
    color: white;
    padding: 40px 60px 70px 60px;
}

.contact_left{
    flex-basis: 35%;
    padding: 0px 10px 20px 40px;
    font-size: 20px;

}

.contactme{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 95%;
    margin: 0px 5px 30px 0px;
    font-size: 50px;
}

.contact_left i{
    margin: 5px 20px;
    color: orangered;
    cursor: pointer;
}

.contact_left h1{
    margin-left: -25px;
}

.symbols i{
    margin: 5px;
    font-size: 28px;
    
    color: rgb(183, 183, 183);
}

.symbols{
    margin: 20px 10px 20px 15px;
}

#resume{
    margin: 0px 10px 10px 20px;
    padding: 10px;
    background-color: orangered;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

#resume:hover{
    color: black;
    background-color: rgb(127, 127, 127);  
    transform: translateY(-5px);
}

.contact_right{
    flex-basis: 60%;
    
}

.form{
    margin: 10px;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
    color: white;
}

form input, form textarea{
    background-color: #3e3e3e;
    color: white;
    border-radius: 5px;
}

form{
    
    display: flex;
    flex-direction: column;
}

form button{
    margin: 10px 0px -40px 10px;
    padding: 10px;
    background-color: orangered;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    width: 20%;

}


form button:hover{
    color: black;
    background-color: rgb(127, 127, 127);  
    transform: translateY(-5px);
}

/* <------------copyright section----------> */

.copyright_sec p{
    margin: auto;
    width: fit-content;
    padding: 15px 0px 15px 0px;
}

.copyright_sec{
    background-color: #272727;
    color: white;

}

.copyright_sec i{
    color: orangered;
}