* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* <------------navbar------------> */

nav {
    padding: 5px 5px;
    margin: 2px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav img {
    width: 50px;
    border-radius: 25px;
    border: 2px solid white;
    transition: 0.5s;
    
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.1);
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;

    font-size: 20px;
    color: white;
    margin: 0px 15px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #1b1b1b;
    padding: 7px;
    border-radius: 10px;
    color: orange;
}

#hero_page {
    /* width: 100vw; */
    background-color: black;
    
    background: linear-gradient(199deg, rgb(3 0 63) 0%, rgba(255,80,0,1) 183%, rgba(0,0,0,1) 0%);
}  


nav div h1 {
    display: inline-block;
}

nav div:first-child {
    display: flex;
    height: 100%;

}

#logo_text {
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.nav_scroll {
    position: fixed;
    top: -2px;
    background-color: #272727;
    width: 100%;
    z-index: 2;
    margin-left: 0;
    padding-left: 60px;
}

.menu_scroll {
    position: fixed;
    right: 5vh;
}

.disp_conetents {
    display: contents;
}


/* <------------hero section------------> */



#hero_text{
    color: white;
    flex-direction: column;
    display: flex;
        font-size: 1.8vw;
    
    flex-basis: 60%;
    
}

.hero_col_2{
    flex-basis: 40%;

    
}

#hero_img2{
    width: 130%;
    border-radius: 15px 15px 0px 10%;
    transition: 0.5s;
}


#hero_img2:hover{
    transform: scale(1.1);
}
.hero_col_2 div{
    width: 65%;
    border-radius: 15px;
    background-color: #121212;
    padding: 10px;
    margin: 0px 0px 0px 30%;
    box-shadow: #302f2f 0px 0px 1.25rem 0.625rem;
    overflow: hidden;
    transition: 0.5s;
}

.hero_col_2 div:hover{
    transform: scale(1.1);
}

#hero_img{
    display: none;
}

.row_hero{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    
    padding: 2% 0% 4% 0%;
}

/* #hero_text p { */
    /* font-weight: 100; */
    /* margin-bottom: 20px;
    font-size: 30px;
}

#hero_text h1 {
    font-weight: 550;
    font-size: 60px;
} */

.name {
    color: orangered;
    transition: transform 0.5s;
    cursor: pointer;
    display: inline-block;
}

.name:hover {
    color: rgb(152, 0, 0);
    transform: scale(1.1);
}

.hero_symbols i{
        margin: 5px;
    font-size: 28px;

    color: rgb(183, 183, 183);
}

.hero_symbols{
    
    margin: 10px 0px 10px 0px;
}


/* About Page */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about_page {
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 80px 100px;

}

.about_col_1 {
    flex-basis: 35%;
    transition: translate 2s;
}

.about_col_1:hover {
    transform: scale(1.07);
}

#about_page img {
    width: 100%;
    border-radius: 15px;
}



.about_col_2 {
    flex-basis: 55%;
}


.about_col_2 p {
    margin: 30px 0px;
}

.about_menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 22px;
    margin: 20px 0px;
}

.tab_links {
    cursor: pointer;
    position: relative;
}

.tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: orangered;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tab_links.active_link::after {
    width: 70%;
}

.tab_content {
    display: none;
}

.tab_content.active_tab {
    display: block;
}

.tab_content ul li {
    font-size: 16px;
    list-style: none;
    line-height: 20px;
}

.tab_content span {
    font-size: 15px;
    color: orange;
    line-height: 40px;
    font-weight: 800;
}

progress {
    border: 1px solid orange;
    
 }
 progress::-webkit-progress-bar {
    background-color: gray;
 }
 progress::-webkit-progress-value {
    background-color: rgb(212, 78, 0);
 }

 .tab_arrange{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
 }  

 #btn1-alt{
    display: none;
 }

 #btn1{
    display: none;
 }

/* <--------------------services------------------> */

.services {
    background-color: rgb(26, 26, 26);
    /* height: 40vh; */
    color: white;
    padding: 40px 60px 70px 60px;

}

.subtitle {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;

}

.service_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    /* overflow: hidden; */
}

.service_box div {

    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    padding: 20px 20px;

    transition: 0.5s;
}

.service_box div:hover {
    background: linear-gradient(rgb(46, 46, 46), rgb(164, 61, 1));
    transform: translateY(-10px);
}

.service_box div h1 {
    margin: 20px 14px;
    font-size: 25px;
}

.service_box div p {
    line-height: 23px;
}

.service_box div i {
    height: 10px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}


.service_box div {
    box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);
}

/* <------------------Projects----------------> */

.project_section {
    background-color: rgb(21, 21, 21, 1);
    /* height: 40vh; */
    color: white;
    padding: 40px 60px 70px 60px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    overflow: hidden;
}

.projects img {
    width: 92%;
    border-radius: 12px;
    transition: 0.5s;
}

.projects>div {
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    padding: 20px 20px;

    transition: 0.5s;
}

.projects div>div {
    background-color: #ca551c;
    border-radius: 15px;
    padding: 10px 10px;
    border: 1px solid black;
    transition: 0.5s;
}

.projects img:hover {
    transform: scale(1.1);
}


.projects_box:hover {


    background: linear-gradient(rgb(46, 46, 46), rgb(253, 55, 0));

    transform: translateY(-10px);

}

.projects_box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.projects_link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.projects_link:hover {
    transform: translateY(-5px);
}

.projects_link a:hover {
    font-weight: 600;
    font-size: 22px;
    color: rgb(255, 179, 0);
}

.subdown {
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: -60px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
}

.subdown:hover {
    color: black;
    background-color: rgb(127, 127, 127);
    transform: translateY(-5px);
}

.projects_link {
    box-shadow: 1px 2px 0.75rem 0.625rem hsl(0deg 0% 15.38%);
}


#btn2-alt{
    display: none;
}

.projects_box_hide{
    display: none;
}


/* <---------------contact-----------------> */

#contacts_page {
    background-color: #1b1b1b;
    color: white;
    padding: 40px 60px 70px 60px;
}

.contact_left {
    flex-basis: 35%;
    padding: 0px 10px 20px 40px;
    font-size: 20px;

}

.contactme {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 95%;
    margin: 0px 5px 30px 0px;
    font-size: 50px;
}

.contact_left i {
    margin: 5px 20px;
    color: orangered;
    cursor: pointer;
}

.contact_left h1 {
    margin-left: -18px;
}

.symbols i {
    margin: 5px;
    font-size: 28px;

    color: rgb(183, 183, 183);
}

.symbols {
    margin: 20px 10px 20px 15px;
}

#resume {
    margin: 0px 10px 10px 20px;
    padding: 10px;
    background-color: orangered;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

#resume:hover {
    color: black;
    background-color: rgb(127, 127, 127);
    transform: translateY(-5px);
}

.contact_right {
    flex-basis: 60%;

}

.form {
    margin: 10px;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
    color: white;
}

form input,
form textarea {
    background-color: #3e3e3e;
    color: white;
    border-radius: 5px;
}

form {

    display: flex;
    flex-direction: column;
}

form button {
    margin: 10px 0px -40px 10px;
    padding: 10px;
    background-color: orangered;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    width: 20%;

}


form button:hover {
    color: black;
    background-color: rgb(127, 127, 127);
    transform: translateY(-5px);
}

form>div {
    text-align: center;
}

form button {
    width: 30%;


}

/* <------------copyright section----------> */

.copyright_sec p {
    margin: auto;
    width: fit-content;
    padding: 15px 0px 15px 0px;
}

.copyright_sec {
    background-color: #272727;
    color: white;

}

.copyright_sec i {
    color: orangered;
}

/* <---------bars and close bar icon--------> */

#navbar i {
    display: none;
    /* background-color: red; */
}


/* <---making website responsive for larger screens---> */

@media only screen and (min-width: 1411px) {

    .second_div {
        margin: auto;
        /* width: fit-content; */
        width: 70%;
    }

    .first_div {
        background-color: #1f1f1f;
    }

    .third_div {
        box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);
    }

    #hero_page {
        width: auto;
        height: fit-content;
    }
    .row_hero{
        width: 80%;
    }

    .nav_scroll {
        width: 70%;
    }

    .menu_scroll {
        position: fixed;
        right: 50vh;
        /* right: 34vh; */
    }

}


/* <---making website responsive for smaller screens---> */

#navbar i:hover {
    box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);
    /* display: inline; */
    color: brown;
    background-color: #2a2827;
}

@media only screen and (max-width: 1058px) {

    .second_div {
        margin: auto;
        width: 99%;
    }

    .first_div {
        background-color: #1f1f1f;
    }

    .third_div {
        box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);
    }

    .nav_scroll {
        width: 99%;

    }

    #navbar i {
        display: block;
    }

    #navbar i {
        font-size: 25px;
        cursor: pointer;
    }

    .nav_scroll .fa-bars {

        margin-right: 10vh;
    }

    /* .about_menu {
        margin: 20px 10px;
    } */

    .about_menu h3 {
        margin: 0px 40px 0px -10px;
    }



    .contact_left h1 {
        font-size: 4vw;
    }

    .contact_left p {
        display: flex;
    }

    #about_page img {
        width: 120%;
    }

    #menubar {
        background-color: #ca551c;
        height: 100vh;
        width: 40vw;
        margin: auto;
        position: fixed;
        /* right: 0; */
        right: -850px;
        top: 0;
        opacity: 92%;
        z-index: 999;
        border: 2px solid rgb(180, 81, 5);
        box-shadow: 0 0 1.25rem 0.625rem hsla(16, 100%, 50%, 0.516);
        padding: 3vw;
        transition: right 0.5s;

    }

    #menubar li {
        display: block;
        padding: 5vh;
        border: 1px solid rgba(158, 47, 47, 0.459);
        text-align: center;
    }



    #menubar li:hover {
        background-color: rgb(202, 117, 27);

    }

    #menubar a {
        width: 100%;
        display: block;
        margin: 0;

    }

    #menubar a:hover {
        box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);

    }

    #menubar i {
        /* border: 1px solid rgb(180, 81, 5); */
        text-align: center;
    }
    

    .more_skills{
        display: block;
    }

    
    #btn1{
        display: none;
    }

/*     
#hero_text {
    padding-top: 11%;
    margin-left: 10%;
}

#hero_text p {
    margin-bottom: 20px;
    font-size: 30px;
}


    
    #hero_text h1 {
        font-size: 50px;
        word-wrap: break-word;
        width: 42vw;
    } */
    
}



@media only screen and (max-width: 950px) {

    .nav_scroll .fa-bars {

        margin-right: 5vh;
    }

    #navbar {
        margin-left: 0;
        padding-left: 10vw;
    }

    #menubar {
        width: 60vw;
    }


    .row {
        display: block;
    }

    .contact_left {
        margin: 0;
        padding: 0;
        text-align: center;
    }


    .contact_left p {
        margin: auto;
        width: fit-content;
    }

    .contact_left h1 {
        /* color: red; */
        font-size: 7vw;
        margin: auto;
        padding: 0px 0px 30px 0px;
    }
    #about_page img {
        width: 42%;
        margin: 0 20% 5% 20%;
    }

    #about_page{
        padding: 5vw 10vw;
    }

    .about_col_1{
        display: flex;
        justify-content: center;
    }   
        
    .about_col_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 50px 15px 50px;
        box-shadow: 0 0 1.25rem 0.625rem hsl(0deg 0% 15.38%);
        border-radius: 10px;
    }

    .about_col_2 span{line-height: normal;
        display: block;
        margin: 16px 0px 0px 0px;
    }

    .tab_content{
        width: 100%;
    }

    .contact_left::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #313131;
        position: absolute;
        left: 0;
        margin: 50px 0px;
        transition: 0.5s;
    }

    .about_col_2 h1{
        color: orange;
    }

    

}




@media only screen and (max-width:790px)
{
    .about_menu{
        font-size: 18px;
        margin: 0px 0px 14px -50%;
    } 
}



@media only screen and (max-width: 680px) {

    /* #hero_text h1 {
        font-size: 40px;
        word-wrap: break-word;
        
    }
    #hero_text p{
        font-size: 27px;
    } */
    
    .tab_arrange{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    } 
    
    #btn1{
        display: block;
    }

    .more_skills{
        display: none;
    }
}
@media only screen and (max-width: 590px) {

    .hero_col_2{
        display: none;
    }

    #about_page img{
        width: 55%;
    }


}





@media only screen and (max-width: 930px)
{
    /* #hero_page{
        background-image: none;
        background-color: black;
        width: 100vw;
        height: fit-content;
    } */

    /* #about_img{
        display: none;
    }

    
    #hero_img{
        display: block;
    }

    #hero_img2{
        display: none;
    } */

/*
    #hero_img{
    width: 70vw;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 0.625rem 0.25rem #3d3d3d;
    } */

    /* #hero_text{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        align-items: center;
          padding: 40px 40px 0px 40px;
        margin: 0;
    } */
}





@media only screen and (max-width: 450px){
    /* #hero_text h1{
        font-size: 30px;
        width: 170px;
    }
    #hero_text p{
        font-size: 20px;
    } */

    .about_col_2{
        padding: 18px 8px 18px 8px;
    }

    .project_section{
        padding: 20px 21px 20px 21px;
    }
    #contacts_page{
        padding: 20px 22px 20px 22px;
    }
    .services{
        padding: 20px 22px 20px 22px;
    }

    .copyright_sec{
        font-size: 12px;
    }

    .contact_left p{
        font-size: 18px;
    }
}


@media only screen and (max-width: 350px)
{
    #logo_text h1{
        font-size: 20px;
    }

    nav img{
        width: 40px;
    }

    nav{
        margin: 2px 35px;
    }

}






/* hero page image changed */

@media only screen and (max-width: 590px)
{
    

    #hero_page {
        background-image: none;
        background-color: black;
        width: 100vw;
        height: fit-content;
        background: linear-gradient(-310deg, rgb(3 0 63) 0%, rgba(255,80,0,1) 183%, rgba(0,0,0,1) 0%);
    }

    #about_img {
        display: none;
    }

    #hero_img {
        display: block;
    }

    #hero_img {
        width: 70vw;
        margin: auto;
        border-radius: 10px;
        margin-top: 30px;
        box-shadow: 0px 0px 0.625rem 0.25rem #3d3d3d;
    }

    #hero_text {
        text-align: center;
        padding: 8% 0px 0px 0px;
        margin: auto;
        
        text-wrap: nowrap;
    font-size: 4.5vw;
    }
    
    #hero_text p{
        font-size: 5.5vw;
    }


    .hero_symbols i {
        font-size: 4.5vw;
        padding: 0;
        margin: 2px;
    }

    .hero_text_div{
        height: 35vh;
        display: flex;
    }
}


@media only screen and (max-width: 1410px) and (min-width:590px)
{
    #hero_text{
        font-size: 2.5vw;
    }
}


